@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.developers{
    margin: 50px 0px;
}
.dev_title{
    color: deeppink;
    text-decoration: underline;
    margin-bottom: 25px;
}
.dev_team{
    background: cyan;
    padding: 30px;
    border: 2px dashed royalblue;
    margin-bottom: 25px;
    box-shadow: inset 0px 0px 10px 2px #0000008c;
}
.dev_team img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.dev_team h2{
    margin: 14px 0px;
}
.students{
    margin: 50px 0px;
}
.student{
    background: cornflowerblue;
    border-radius: 3%;
    padding: 16px 16px;
    color: white;
    margin-bottom: 25px;
}
.student img{
    width: 100%;
    border-radius: 3% 3% 0 0;
    height: 200px;
}
.name{
    margin: 10px 0px 0px;
}
.student h3{
    font-size: 21px;
}
.student_title{
    color: darkorchid;
    text-decoration: underline;
    margin-bottom: 25px;
}
.numbers{
    margin: 50px 0px;
}
.number_title{
    margin-bottom: 25px;
    color: chartreuse;
    text-decoration: underline;
}
.table_img{
    width: 70px;
}